html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  background-color: dimgrey;
  /* Give app full page to work with */
  height: 100vh;
  
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  top: 250px;
  height: 300px;  
  outline: none !important;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #DBF1FF;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: left;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
  
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  
}
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.menu-item {  
  color: white;
  text-decoration: none;
  line-height: 300%; 
  margin-left:0.5em;
  align-items: center;
  text-align: center;
  justify-self: center;  
  vertical-align: baseline;
  
}
.fa{
  
  line-height:200%;
  float: center;
  text-align: center;
  justify-self: center;
 
}
.menu-header {  
  color: white;
  text-decoration: none;
  line-height: 300%; 
  vertical-align: initial;
  align-items: center;
  text-align: left;
  justify-self: center;
}

.MuiListItemText-root
{
  color:white;
}

/* accordian changes*/

.accordionTest {
    
	 border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.accordion__item_test + .accordion__item_test {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.accordion__button_test {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 10px 20px; 
    text-align: left;
    border: none;
	
	
}


.accordion__button_test:hover {
    background-color: #ddd;
}

.accordion__button_test:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;

    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.detailsDropdown{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;    
    cursor: pointer;    
    color: #fff;
    background-color: #000;
    border-color: #2e6da4;
    border: 1px solid transparent;
    border-radius: 4px;
	
}

.detailsDropdowndiv{
 border: 15px solid transparent;
    border-radius: 40px;
	
}
.myMenuClassName{
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
   
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.export{
	margin-top: 20px;
	font-size: 14px;
	 border: 1px solid rgba(0,0,0,.15);
    border-radius: 10px;
	min-width: 90px;
	min-height: 30px;
	
}

.export:hover {
  color: green;
  cursor: pointer;
}



.ReactTable .rt-thead  {
    	 background-color: #989898;
		 font-size: 15px;
     font-weight: bold;
     overflow: visible;
     
}
.ReactTable .rt-thead .rt-resizable-header-content{
  white-space: normal;
}

.ReactTable .rt-tbody .rt-td{
  white-space: normal;
}

.rt-tr-group{
  background: #E5E5F5;
}
.rt-tr-group:nth-of-type(even){
  background: white;
}

.homeClassName {
 max-width:100%;
position:fixed; 
height: 100%;
 width: 100%; 
 top:0;
 left: 0;
 background-image:url('/truck3.jpg');
 background-size: cover;

}
.unitedText {

color:#000066;
height:100%;
font-family: Cambria Math;
  font-size: 400% ;
  text-align:center;
 }
 
 .typoGraphyClass{
	 position: absolute;
  right: auto;
  width: auto;
  height: auto;
  margin-left:"50vh";
  margin-right:"-65vh"
 
 }
 .appHeaderClass{
  height:150px;
  background-image: url(/highway24.jpg);
  background-size: cover;
  color:white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 200%;
 }

 .MuiSvgIcon-root{
   color:grey;
 }

 .MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit{
   color:white;
 }
 .MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall{
   color:white;
 }
 
 
 
 .customerDetailsForm{
	 display: flex;
    flex-wrap: wrap;
   
  
 }
 
 
 .locationAddEditWrap{
	
	 margin-left: 4em;
	 display: flex; 
	 flex-wrap: wrap;
	 align-items: left;
 }